## Lambda functions

Lambda functions are anonymous functions: 
- they don't have a name
- they can nest other functions

In [ ]:
lambda x: x**2

In [1]:
import pandas as pd

In [3]:
data = {"var1": [1, 2, 3, 4, 5, 6], "var2": [10, 20, 30, 40, 50, 60], "var3": ["a", "b", "c", "d", "e", "f"] }
adf = pd.DataFrame(data)

In [6]:
adf[["var1", "var2"]]

   var1  var2
0     1    10
1     2    20
2     3    30
3     4    40
4     5    50
5     6    60

In [7]:
adf[["var1", "var2"]].apply(lambda x: x**2)

   var1  var2
0     1   100
1     4   400
2     9   900
3    16  1600
4    25  2500
5    36  3600