### Grouby method
__groupby__ makes it easy to vizualize groups by categories

It creates a groupby object that can be used with vectorizedfunctions and methods

In [1]:
import pandas as pd

In [3]:
data = {"var1": [1, 2, 3, 4, 5, 6], "var2": [10, 20, 30, 40, 50, 60], "var3": ["a", "b", "b", "d", "a", "f"] }
adf = pd.DataFrame(data)

In [4]:
adf.groupby("var3")["var1"]

In [5]:
adf.groupby("var3").count()

      var1  var2
var3
a        2     2
b        2     2
d        1     1
f        1     1

In [6]:
adf.groupby("var3")["var1"].count()

var3
a    2
b    2
d    1
f    1
Name: var1, dtype: int64

In [12]:
adf.groupby("var3")[["var1", "var2"]].count()

      var1  var2
var3
a        2     2
b        2     2
d        1     1
f        1     1

In [10]:
import numpy as np
adf.groupby("var3")["var1"].agg(np.mean)

C:\Users\flo95\AppData\Local\Temp\ipykernel_9408\1169104610.py:2: FutureWarning: The provided callable <function mean at 0x00000160D4E198B0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  adf.groupby("var3")["var1"].agg(np.mean)

var3
a    3.0
b    2.5
d    4.0
f    6.0
Name: var1, dtype: float64

In [11]:
adf.groupby("var3")["var1"].mean()

var3
a    3.0
b    2.5
d    4.0
f    6.0
Name: var1, dtype: float64